<title>Thông tin tài khoản</title>
<link rel="stylesheet" type="text/css" href="./css/account.css">


<h1>This is account page</h1>
<div class="container-xl">
    <div class="bg-light" style="height: 80px;"></div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="account-sidebar list-group bg-light">
                <div class="d-flex justify-content-center align-items-end" style="height: 48px">
                    <p class="bg-dark text-white px-1 m-0">ChicPet Member</p>
                </div>
                <div class="account-sidebar__user d-flex align-items-center">
                    <p class="sidebar-user_name fw-bold">
                        <i class="sidebar-user__icon fas fa-paw fa-lg px-4"></i>
                        Hoàng Dận Quang
                    </p>
                </div>
                <div class="account-sidebar__itemlist">
                    <a href="#" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-user-alt"></i>
                        <span>Thông tin cá nhân</span>
                    </a>
                    <a href="#" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-receipt"></i>
                        <span class="sidebar-item__name">Danh sách đơn hàng</span>
                    </a>
                    <a href="#" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-envelope text-wrap"></i>
                        <span class="sidebar-item__name">Gửi ý kiến cho ChicPet</span>
                    </a>
                    <a href="#" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-sign-out-alt"></i>
                        <span class="sidebar-item__name">Thoát</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 my-3">
            <div class="col">
                <h4 class="text-uppercase mb-4">Thông tin tài khoản</h4>
                <div class="mb-4 row">
                    <label for="inputName" class="col-lg-3 col-form-label mb-1">Họ tên</label>
                    <div class="col-lg-7">
                    <input type="text" class="form-control mb-2" id="inputName">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="inputEmail" class="col-lg-3 col-form-label mb-1">Email</label>
                    <div class="col-lg-7">
                    <input type="email" class="form-control mb-2" id="inputEmail">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="inputPhone" class="col-lg-3 col-form-label mb-1">Số điện thoại</label>
                    <div class="col-lg-7">
                    <input type="text" class="form-control mb-2" id="inputPhone" onkeypress="return isNumber(event)" onpaste="return false;">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="inputAddress" class="col-lg-3 col-form-label mb-1">Địa chỉ</label>
                    <div class="col-lg-7">
                    <input type="tel" class="form-control mb-2" id="inputAddress">
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Cập Nhật Tài Khoản</button>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript">     
    function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ( (charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }
</script>
