<title>Voucher</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/adminVoucher.css">

<div class="container-xl account-order-container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="account-sidebar list-group">
                <div class="d-flex justify-content-center align-items-end" style="height: 48px">
                    <p class="bg-dark text-white px-1 m-0">ChicPet Admin</p>
                </div>
                <div class="account-sidebar__user d-flex align-items-center">
                    <div class="d-flex sidebar-user_name fw-bold text-wrap align-item-center">
                        <i class="sidebar-user__icon fas fa-paw px-4"></i>
                        <span>{{user.fullname}}</span>
                    </div>
                </div>
                <div class="account-sidebar__itemlist">
                    <a href="/account/profile" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-user-alt"></i>
                        <span>Thông tin cá nhân</span>
                    </a>
                    <a href="/account/customer" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-user-alt"></i>
                        <span>Danh sách khách hàng</span>
                    </a>
                    <a href="/account/order" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-receipt"></i>
                        <span class="sidebar-item__name">Danh sách đơn hàng</span>
                    </a>
                    <a href="/account/voucher" class="account-sidebar__item account-sidebar__item--active list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-envelope text-wrap"></i>
                        <span class="sidebar-item__name">Voucher</span>
                    </a>
                    <a href="/logout" class="account-sidebar__item list-group-item list-group-item-action text-wrap">
                        <i class="sidebar-item__icon fas fa-sign-out-alt"></i>
                        <span class="sidebar-item__name">Thoát</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 my-3">
            <div class="row justify-content-between">
                <h4 class="text-uppercase mb-4 mt-4 w-auto">Danh sách Voucher</h4>
                <div class="span w-auto">
                    <a href="#create-voucher" type="button" class="btn btn-create">Tạo Voucher</a>
                    <button type="button" class="btn btn-search">Tìm kiếm</button>
                </div>
            </div>
            <div class="admin-order-search-container">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputVoucherId" class="col-3 col-form-label">Voucher ID</label>
                            <div class="col-7">
                                <input type="text" class="form-control col-form-label" id="inputVoucherId">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputVoucherCode" class="col-3 col-form-label">Voucher Code</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="inputVoucherCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="dropdownTypeSearch" class="col-3 col-form-label">Loại Voucher</label>
                            <div class="col-7">
                                <div class="dropdown dropdown-type-search-container">
                                    <button class="btn btn-dropdown-type-search dropdown-toggle" type="button" id="dropdownTypeSearch" data-bs-toggle="dropdown" aria-expanded="false">Tất cả</button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownTypePayment">
                                        <li><div class="dropdown-item dropdown-type-search-item" onclick="updateDropdownTypeSearchBtn('Tất cả')">Tất cả</div></li>
                                        <li><div class="dropdown-item dropdown-type-search-item" onclick="updateDropdownTypeSearchBtn('Phần trăm')">Phần trăm</div></li>
                                        <li><div class="dropdown-item dropdown-type-search-item" onclick="updateDropdownTypeSearchBtn('Mức tiền')">Mức tiền</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputVoucherExp" class="col-3 col-form-label">Hạn sử dụng</label>
                            <div class="col-7">
                                <input type="date" class="form-control col-form-label" id="inputVoucherExp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-voucher-table-container">
                <table class="table table-hover voucher-table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Voucher Id</th>
                            <th scope="col">Loại voucher</th>
                            <th scope="col">Giá trị</th>
                            <th scope="col">Đã sử dụng</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">HSD</th>
                        </tr>
                    </thead>
                    <tbody class="customer-table-body">
                       <tr>
                           <th scope="row">1</th>
                           <td>529620316</td>
                           <td>Mức tiền</td>
                           <td>20.000đ</td>
                           <td>62/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">2</th>
                           <td>529620316</td>
                           <td>Mức tiền</td>
                           <td>15.000đ</td>
                           <td>78/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">3</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>10% (Tối đa 20.000đ)</td>
                           <td>35/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">4</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>25% (Tối đa 30.000đ)</td>
                           <td>82/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">5</th>
                           <td>529620316</td>
                           <td>Mức tiền</td>
                           <td>50.000đ</td>
                           <td>57/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">6</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>50% (Tối đa 50.000đ)</td>
                           <td>100/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">7</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>10% (Tối đa 20.000đ)</td>
                           <td>35/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">8</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>25% (Tối đa 30.000đ)</td>
                           <td>82/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">9</th>
                           <td>529620316</td>
                           <td>Mức tiền</td>
                           <td>50.000đ</td>
                           <td>57/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">10</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>50% (Tối đa 50.000đ)</td>
                           <td>100/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">11</th>
                           <td>529620316</td>
                           <td>Phần trăm</td>
                           <td>25% (Tối đa 30.000đ)</td>
                           <td>82/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                       <tr>
                           <th scope="row">12</th>
                           <td>529620316</td>
                           <td>Mức tiền</td>
                           <td>50.000đ</td>
                           <td>57/100</td>
                           <td>31/12/2021</td>
                           <td>31/12/2021</td>
                       </tr>
                    </tbody>
                </table>
            </div>
            <div id="create-voucher" class="admin-create-voucher-container">
                <p class="fw-bold my-3">
                        Tạo Voucher
                </p>
                <div class="row my-3">
                    <label for="inputVoucherId" class="col-3 col-form-label">ID Voucher:</label>
                    <div class="col-4">
                        <input type="text" class="form-control col-form-label" id="inputVoucherId" value="234618313">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-create-id">Tạo ID</button>
                    </div>
                </div>
                <div class="row my-3">
                        <label for="dropdownTypeCreateVoucher" class="col-3 col-form-label">Loại Voucher:</label>
                        <div class="dropdown col-6">
                            <button class="btn btn-dropdown-type-create dropdown-toggle" type="button" id="dropdownTypeCreateVoucher" data-bs-toggle="dropdown" aria-expanded="false">Mức tiền</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><div class="dropdown-item dropdown-type-create-item" onclick="updateDropdownTypeCreateVoucherBtn('Mức tiền')">Mức tiền</div></li>
                                <li><div class="dropdown-item dropdown-type-create-item" onclick="updateDropdownTypeCreateVoucherBtn('Phần trăm')">Phần trăm</div></li>
                            </ul>
                        </div>
                    </div>
                <div class="row my-3">
                    <label for="inputVoucherValue" class="col-3 col-form-label">Giá trị:</label>
                    <div class="col-6">
                        <input type="text" class="form-control col-form-label" id="inputVoucherValue" value="20">
                    </div>
                </div>
                <div class="row my-3">
                    <label for="inputVoucherMaxValue" class="col-3 col-form-label">Tối đa:</label>
                    <div class="col-6">
                        <input type="text" class="form-control col-form-label" id="inputVoucherMaxValue" value="50000">
                    </div>
                </div>
                <div class="row my-3">
                    <label for="inputVoucherQuantity" class="col-3 col-form-label">Số lượng:</label>
                    <div class="col-6">
                        <input type="text" class="form-control col-form-label" id="inputVoucherQuantity" value="100">
                    </div>
                </div>
                <div class="row my-3">
                    <label for="inputVoucherExp" class="col-3 col-form-label">HSD:</label>
                    <div class="col-6">
                        <input type="date" class="form-control col-form-label" id="inputVoucherExp">
                    </div>
                </div>
                <div class="form-floating my-3">
                    <textarea class="form-control" id="inputVoucherNote" style="height: 100px"></textarea>
                    <label for="inputVoucherNote">Ghi chú</label>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-create">Tạo Voucher</button>
                </div>
            </div>

            



        </div>
    </div>
</div>

<script>
    const dropdownTypeSearch = document.getElementById('dropdownTypeSearch');
    function updateDropdownTypeSearchBtn(type) {
        dropdownTypeSearch.textContent = type;
    }
    const dropdownTypeCreateVoucher = document.getElementById('dropdownTypeCreateVoucher');
    function updateDropdownTypeCreateVoucherBtn(type) {
        dropdownTypeCreateVoucher.textContent = type;
    }
</script>

<script>
    const inputVoucherId = document.getElementById('inputVoucherId');
    const inputVoucherValue = document.getElementById('inputVoucherValue');
    const inputVoucherMaxValue = document.getElementById('inputVoucherMaxValue');
    const inputVoucherQuantity = document.getElementById('inputVoucherQuantity');
    const inputVoucherExp = document.getElementById('inputVoucherExp');
    const inputVoucherNote = document.getElementById('inputVoucherNote');
</script>