<title>Orders</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/adminOrder.css">

<div class="container-xl account-order-container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 my-3">
            {{> adminAccountSidebar}}
        </div>
        <div class="col-12 col-md-8 col-lg-9 my-3">
            <div class="row justify-content-between">
                <h4 class="text-uppercase mb-4 mt-4 w-auto">Danh sách đơn hàng</h4>
                <button type="button" class="btn btn-search">Tìm kiếm</button>
            </div>
            <div class="admin-order-search-container">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputOrderCode" class="col-3 col-form-label">Mã đơn</label>
                            <div class="col-7">
                                <input type="text" class="form-control col-form-label" id="inputOrderCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputOrderCustomerCode" class="col-3 col-form-label">Mã KH</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="inputOrderCustomerCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputOrderCustomerName" class="col-3 col-form-label">Tên KH</label>
                            <div class="col-7">
                                <input type="text" class="form-control col-form-label" id="inputOrderCustomerName">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="dropdownStatusSearch" class="col-3 col-form-label">Trạng thái</label>
                            <div class="col-7">
                                <div class="dropdown dropdown-status-search-container">
                                    <button class="btn btn-dropdown-status-search dropdown-toggle" type="button" id="dropdownStatusSearch" data-bs-toggle="dropdown" aria-expanded="false">Tất cả</button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownOrderPayment">
                                        <li><div class="dropdown-item dropdown-status-search-item" onclick="updateDropdownStatusSearchBtn('Tất cả')">Tất cả</div></li>
                                        <li><div class="dropdown-item dropdown-status-search-item" onclick="updateDropdownStatusSearchBtn('Chờ xác nhận')">Chờ xác nhận</div></li>
                                        <li><div class="dropdown-item dropdown-status-search-item" onclick="updateDropdownStatusSearchBtn('Đã xác nhận')">Đã xác nhận</div></li>
                                        <li><div class="dropdown-item dropdown-status-search-item" onclick="updateDropdownStatusSearchBtn('Đã hoàn thành')">Đã hoàn thành</div></li>
                                        <li><div class="dropdown-item dropdown-status-search-item" onclick="updateDropdownStatusSearchBtn('Đã hủy')">Đã hủy</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputOrderFromDay" class="col-3 col-form-label">Từ ngày</label>
                            <div class="col-7">
                                <input type="date" class="form-control col-form-label" id="inputOrderFromDay">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-1"></div>
                            <label for="inputOrderToDay" class="col-3 col-form-label">Đến ngày</label>
                            <div class="col-7">
                                <input type="date" class="form-control col-form-label" id="inputOrderToDay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-order-table-container">
                <table class="table table-hover order-table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mã đơn</th>
                            <th scope="col">Mã KH</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody class="order-table-body">


                       
                    </tbody>
                </table>
            </div>
            <div class="admin-order-detail-container d-none">
                <div class="order-detail-header text-center">
                    <h2 class="text-uppercase order-detail-header__title">Thông tin đơn hàng</h2>
                    <div class="my-3">
                        Dưới đây là thông tin đơn hàng 
                        <span class="order-detail-header__order-code">123456789</span>
                        <span class="order-detail-header__order-time"> - 10:30 01/01/2021</span>
                    </div>
                    <div class="mb-4">
                        <div class="order-detail-header__order-status-title mb-3">Trạng thái đơn hàng:</div>
                        <div class="dropdown">
                            <button class="btn btn-dropdown-status dropdown-toggle" type="button" id="dropdownOrderStatusButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Đã hoàn thành
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownOrderStatusButton">
                                <li><div class="dropdown-item dropdown-status-item" onclick="updateDropdownStatusBtn('Chờ xác nhận')">Chờ xác nhận</div></li>
                                <li><div class="dropdown-item dropdown-status-item" onclick="updateDropdownStatusBtn('Đã xác nhận')">Đã xác nhận</div></li>
                                <li><div class="dropdown-item dropdown-status-item" onclick="updateDropdownStatusBtn('Đã hoàn thành')">Đã hoàn thành</div></li>
                                <li><div class="dropdown-item dropdown-status-item" onclick="updateDropdownStatusBtn('Đã hủy')">Đã hủy</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="order-detail-service-table text-center">
                    <table class="table service-table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col-4" class="text-start align-middle" >Tên dịch vụ</th>
                                <th scope="col-2" class="align-middle">Số lượng</th>
                                <th scope="col-2" class="align-middle">Đơn giá</th>
                                <th scope="col-2" class="align-middle">Biến thể</th>
                                <th scope="col-2" class="align-middle">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody class="service-table-body">
                            <tr>
                                <td class="text-start" style="width: 40%;">Cắt tỉa lông chó</td>
                                <td style="width: 15%;">2</td>
                                <td style="width: 15%;">150.000đ</td>
                                <td style="width: 15%;">M</td>
                                <td style="width: 15%;">300.000đ</td>
                            </tr>
                            <tr>
                                <td class="text-start">Spa cho chó</td>
                                <td>
                                    <div>
                                        <input type="number" class="text-center" max="10" min="1" value="1">
                                    </div>
                                </td>
                                <td>150.000đ</td>
                                <td>M</td>
                                <td>300.000đ</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="order-detail-total-table">
                    <table class="table total-table table-bordered border-white">
                        <tbody>
                            <tr>
                                <td class="text-start table-light">Tổng giá trị sản phẩm</td>
                                <td class="text-end table-light total-table__sum">600.000đ</td>
                            </tr>
                            <tr>
                                <td class="text-start table-light">Số tiền giảm giá</td>
                                <td class="text-end table-light total-table__discount">-50.000đ</td>
                            </tr>
                            <tr>
                                <td class="text-start table-light">Voucher khuyến mãi</td>
                                <td class="text-end table-light total-table__voucher">-50.000đ</td>
                            </tr>
                            <tr>
                                <td class="text-start fw-bold">Tổng thanh toán</td>
                                <td class="text-end fw-bold total-table__total">500.000đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order-detail-customer-info mt-4">
                    <p class="fw-bold my-3">
                        Thông tin nhận hàng
                    </p>
                    <div class="row my-3">
                        <label for="customerCode" class="col-3 col-form-label">Mã khách hàng:</label>
                        <div class="col-9">
                            <div id="customerCode" class="customer-info__customer-code">123456789</div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="inputCustomerName" class="col-3 col-form-label">Tên người nhận:</label>
                        <div class="col-6">
                            <input type="text" class="col-6 form-control col-form-label" id="inputCustomerName" value="Hoang Dan Quang">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="inputCustomerMail" class="col-3 col-form-label">Địa chỉ Email:</label>
                        <div class="col-6">
                            <input type="text" class="col-6 form-control col-form-label" id="inputCustomerMail" value="hoangdanquang@gmail.com">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="inputCustomerPhone" class="col-3 col-form-label">Số điện thoại:</label>
                        <div class="col-6">
                            <input type="text" class="col-6 form-control col-form-label" id="inputCustomerPhone" value="0912345678">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="dropdownOrderPayment" class="col-3 col-form-label">Hình thức thanh toán:</label>
                        <div class="dropdown col-6">
                            <button class="btn btn-dropdown-payment dropdown-toggle" type="button" id="dropdownOrderPayment" data-bs-toggle="dropdown" aria-expanded="false">
                                Tiền mặt
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownOrderPayment">
                                <li><div class="dropdown-item dropdown-payment-item" onclick="updateDropdownOrderPaymentBtn('Tiền mặt')">Tiền mặt</div></li>
                                <li><div class="dropdown-item dropdown-payment-item" onclick="updateDropdownOrderPaymentBtn('MoMo')">MoMo</div></li>
                                <li><div class="dropdown-item dropdown-payment-item" onclick="updateDropdownOrderPaymentBtn('ZaloPay')">ZaloPay</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-floating my-3">
                    <textarea class="form-control" id="inputNote" style="height: 100px"></textarea>
                    <label for="inputNote">Ghi chú</label>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-save">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const sidebarItemOrder = document.getElementById('account_sidebar__order');
    sidebarItemOrder.classList.add('account-sidebar__item--active');

    const dropdownStatusSearch = document.getElementById('dropdownStatusSearch');
    function updateDropdownStatusSearchBtn(payment) {
        dropdownStatusSearch.textContent = payment;
    }
    const dropdownStatusButton = document.querySelector('.btn-dropdown-status');
    function updateDropdownStatusBtn(status) {
        dropdownStatusButton.textContent = status;
    };
    const dropdownOrderPayment = document.getElementById('dropdownOrderPayment');
    function updateDropdownOrderPaymentBtn(payment) {
        dropdownOrderPayment.textContent = payment;
    }
</script>
<script>
    const inputOrderCode = document.getElementById('inputOrderCode');
    const inputOrderCustomerCode = document.getElementById('inputOrderCustomerCode');
    const inputOrderCustomerName = document.getElementById('inputOrderCustomerName');
    const dropdownOrderStatusSearch = document.getElementById('dropdownStatusSearch');
    const inputOrderFromDay = document.getElementById('inputOrderFromDay');
    const inputOrderToDay = document.getElementById('inputOrderToDay');
    const btnSearch = document.querySelector('.btn-search');

    const orderTable = document.querySelector('.order-table');
    const orderTableBody = document.querySelector('.order-table-body');

    const orderDetailContainer = document.querySelector('.admin-order-detail-container');
    const orderDetailCode = document.querySelector('.order-detail-header__order-code');
    const orderDetailTime = document.querySelector('.order-detail-header__order-time');
    const orderDetailDropdownStatus = document.getElementById('dropdownOrderStatusButton');
    const orderDetailServiceTableBody = document.querySelector('.service-table-body');
    const orderDetailTotalTableSum = document.querySelector('.total-table__sum');
    const orderDetailTotalTableDiscount = document.querySelector('.total-table__discount');
    const orderDetailTotalTableVoucher = document.querySelector('.total-table__voucher');
    const orderDetailTotalTableTotal = document.querySelector('.total-table__total');
    const orderDetailCustomerCode = document.getElementById('customerCode');
    const orderDetailCustomerName = document.getElementById('inputCustomerName');
    const orderDetailCustomerMail = document.getElementById('inputCustomerMail');
    const orderDetailCustomerPhone = document.getElementById('inputCustomerPhone');
    const orderDetailPayment = document.getElementById('dropdownOrderPayment');
    const orderDetailNote = document.getElementById('inputNote');

    var data = [];
    var currentIndex = 0;

    btnSearchOnClick();
    if (orderTable.rows.length > 1) orderTable.rows[1].classList.add('table-active'); 

    function orderTableRowClick(rowIndex) {
        console.log('table row ', rowIndex, ' clicked');
        for (i = 1; i < orderTable.rows.length; i++) {
            if (orderTable.rows[i].classList.contains('table-active')) {
                orderTable.rows[i].classList.remove('table-active');
            }
        }
        orderTable.rows[rowIndex].classList.add('table-active');
        currentIndex = rowIndex - 1;
        console.log(data.orderList[currentIndex]);
        orderDetailCode.textContent = data.orderList[currentIndex].orderCode;
        orderDetailTime.textContent = ' - ' + data.orderList[currentIndex].createdAt;
        orderDetailDropdownStatus.textContent = data.orderList[currentIndex].status;
        orderDetailCustomerCode.textContent = data.orderList[currentIndex].userCode;
        orderDetailCustomerName.value = data.orderList[currentIndex].fullname;
        orderDetailCustomerMail.value = data.orderList[currentIndex].mail;
        orderDetailCustomerPhone.value = data.orderList[currentIndex].phone;
        orderDetailPayment.textContent = data.orderList[currentIndex].payment;
        orderDetailNote.value = data.orderList[currentIndex].note;
        var serviceTableBody = '';
        for (i = 0; i < data.orderList[currentIndex].services.length; i++) {
            var row = '<tr>'
                        + '<td class="text-start" style="width: 40%;">' + data.orderList[currentIndex].services[i].serviceName + '</td>'
                        //+ '<td style="width: 15%;"">' + data.orderList[currentIndex].services[i].quantity + '</td>'
                        + '<td>'
                            + '<div>'
                                + '<input type="number" class="text-center border-0" max="10" min="1" value="' + data.orderList[currentIndex].services[i].quantity + '">'
                            + '</div>'
                        + '</td>'
                        + '<td style="width: 15%;">' + data.orderList[currentIndex].services[i].price + 'đ</td>'
                        + '<td style="width: 15%;">' + data.orderList[currentIndex].services[i].type + '</td>'
                        + '<td style="width: 15%;">' + data.orderList[currentIndex].services[i].total + 'đ</td>'
                        + '</tr>';
            serviceTableBody += row;
        }
        orderDetailServiceTableBody.innerHTML = serviceTableBody;
        orderDetailTotalTableSum.textContent = '0';
        orderDetailTotalTableDiscount.textContent = data.orderList[currentIndex].discount;
        orderDetailTotalTableVoucher.textContent = data.orderList[currentIndex].voucher;
        orderDetailTotalTableTotal.textContent = data.orderList[currentIndex].total;
    }
       
    btnSearch.addEventListener('click', btnSearchOnClick);
    async function btnSearchOnClick() {
        try {
            var orderCodeSearch = inputOrderCode.value;
            var orderCustomerCodeSearch = inputOrderCustomerCode.value;
            var orderCustomerNameSearch = inputOrderCustomerName.value;
            var orderStatusSearch = dropdownOrderStatusSearch.textContent;
            var orderFromDaySearch = inputOrderFromDay.value;
            var orderToDaySearch = inputOrderToDay.value;

            console.log(orderCodeSearch);
            console.log(orderCustomerCodeSearch);
            console.log(orderCustomerNameSearch);
            console.log(orderStatusSearch);
            console.log(orderFromDaySearch);
            console.log(orderToDaySearch);


            const res = await fetch('/account/admin-get-order', {
                method: 'POST',
                body: JSON.stringify({ orderCodeSearch, orderCustomerCodeSearch, orderCustomerNameSearch, orderStatusSearch, orderFromDaySearch, orderToDaySearch }),
                headers: {'Content-Type': 'application/json'}
            });
            data = await res.json();
            if (data) {
                console.log('Search successful');
                console.log(data);
                var tableBody = '';
                for (i = 0; i < data.orderList.length; i++) {
                    var date = new Date(data.orderList[i].createdAt);
                    var row = '<tr class="" onclick="orderTableRowClick(' + (i + 1) + ')">'
                                + '<th scope="row">' + (i + 1) + '</th>'
                                + '<td>' + data.orderList[i].orderCode + '</td>'
                                + '<td>' + data.orderList[i].userCode + '</td>'
                                + '<td>' + date.toDateString() + ' ' + date.toTimeString().substring(0, 5) + '</td>'
                                + '<td>' + data.orderList[i].fullname + '</td>'
                                + '<td>' + data.orderList[i].total + '</td>'
                                + '<td>' + data.orderList[i].status + '</td>'
                            + '</tr>';
                    tableBody += row;
                }
                orderTableBody.innerHTML = tableBody;
                if (data.orderList.length > 0) {
                    orderTableRowClick(1);
                    if (orderDetailContainer.classList.contains('d-none')) {
                        orderDetailContainer.classList.remove('d-none');
                    }
                }
                else {
                    if (!orderDetailContainer.classList.contains('d-none')) {
                        orderDetailContainer.classList.add('d-none');
                    }
                }
            }
        }
        catch(err) {
            console.log('Search failed');
            console.log(err);
        }
    }
</script>