<!-- Bootstrap Static Header -->
<div style="background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Best services for your pets!</h1>
        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum deleniti ipsam error nam natus, placeat dicta id repellendus ea quam mollitia dolorum quaerat fugiat maxime veniam, delectus dolor nostrum veritatis.</p>
        <p class="font-italic">Snippe by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">Book now!</a>
    </div>
</div>

{{!-- body content --}}
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">About us</h1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <a class="btn btn-primary" href="#!">Tell me more</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            
        {{!-- 2 column service card --}}
        <div class="row mb-2">
            <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
            </div>
        </div>
        {{!-- service card --}}
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Two</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Three</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Four</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Five</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Six</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        
        {{!-- Bonus section --}}
        <section class="section-promiotion bg-light2">
            <div class="container">
                    <div class="heading-type2">
                        <h2>Ưu đãi đặc biệt</h2>
                    </div>
                    <div class="row">
                        <div class="text-center text-lg-left col-lg-6 col-promiotion-left mb-3 mb-lg-0">
                            <div class="intro-video">
                                <img src="https://sieupet.com/sites/all/themes/sieupet/images/upload/thumb-5.jpg" alt="Ưu đãi">
                            </div>
                        </div>
                        <div class="col-lg-6 col-promiotion-right">
                            <div class="row">
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                    <span class="category-icon"><i class="ico-20"></i></span>
                                        <h3>Dung dịch hướng dẫn cún đi vệ sinh</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-26"></i></span>
                                        <h3>Kìm cắt móng</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-21"></i></span>
                                        <h3>Vòng cổ</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-27"></i></span>
                                        <h3>Khăn tắm</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-22"></i></span>
                                        <h3>Xích dắt</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-28"></i></span>
                                        <h3>400g thức ăn</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-23"></i></span>
                                        <h3>Bát ăn chống trượt cao cấp</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-29"></i></span>
                                        <h3>Đồ chơi cho chó</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-24"></i></span>
                                        <h3>Sữa tắm</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-30"></i></span>
                                        <h3>Lược trải lông</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-7">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-25"></i></span>
                                        <h3>Găng tay trải lông</h3>
                                    </span>
                                </div>
                                <div class="col-6 col-md-5">
                                    <span href="/" class="category-item d-flex align-items-center">
                                        <span class="category-icon"><i class="ico-31"></i></span>
                                        <h3>Đệm ngủ</h3>
                                    </span>
                                </div>
                            </div>
                        </div>        
                    </div>
            </div>
        </section>

    </div>
